Welcome <%= @current_fb_user["name"] %> | Your birthday is on: <%= @current_fb_user["birthday"] %>
<br />
Birthdays of your <%= @friends.count %> friends:
<br />

<p>
<ul class="list">

<% @friends.each do |friend| -%>
	<li><%= friend["name"]%>'s birthday is on: <%= friend["birthday"] ||= "User didn't set birthday" %></li>
<% end -%>
</ul>

</p>

