<!DOCTYPE html>
<html>
<head>
<%= render :partial => "layouts/application/head" %>
</head>
<body>
  <div class="container">
    		
   <%= render "layouts/application/header" %>

   <div class ='header'>
	    <h1><%= yield(:title).nil? ? "Facebook canvas" : yield(:title)%></h1>
        <% if notice %>
				  <p id="flash_notice" class="notice"><%= notice %></p>
				<% end %>

				<% if alert %>
				  <p id="flash_alert" class="alert"><%= alert %></p>
				<% end %>
   </div>

    <div class = 'content'>
      
        <%= yield %>      
      
		</div>

    <%= yield(:footer) %>

  </div>

</body>
</html>
